<h2>Lista de veículos</h2>
<hr>
<a href="/admin/cars/new"><button type="button" class="btn btn-primary">Novo veículo</button></a>

{{#each car}}
    <div class="card mt-3">
        <div class="card-body">
            <h4>{{brand}} {{model}}</h4>
            <p>Agência: {{agency.name}}</p>
            <small>{{VIN}} {{licensePlate}}</small>
        </div>
        <div class="btn-row">
            <a href="/admin/agencies/edit-agency/{{_id}}"><button type="button" class="btn btn-primary">Editar</button></a>
            <form action="/admin/api/deleteAgency" method="POST">
                <input type="hidden" name="id" value="{{_id}}">
                <button type="submit" class="btn btn-danger mt-2">Deletar</button>
            </form>
        </div>
    </div>
{{else}}
    <h4 class="mt-3">Nenhuma agência registrada</h4>
{{/each}}