{{#each errors}}
    <div class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Erro
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        {{text}}
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Fechar
                    </button>
                </div>
            </div>
        </div>
    </div>
{{/each}}

<h2>Editar agência</h2>
<hr>
<div class="card text-white">
    <div class="card-body">
        <form action="/admin/api/editAgency" method="POST">
        <input type="hidden" name="id" value="{{agency._id}}" />
        <label for="name">Nome: </label>
            <input type="text" id="name" name="name" placeholder="Nome da agência" class="form-control" value="{{agency.name}}">
        <label for="slug">Cidade: </label>
            <input type="text" id="city" name="city" placeholder="Cidade da agência" class="form-control" value="{{agency.city}}">
        <label for="slug">Endereço: </label>
            <input type="text" id="address" name="address" placeholder="Endereço da agência" class="form-control" value="{{agency.address}}">
        <br>
        <button type="submit" class="btn btn-success" style="float: right">Editar agência</button>    
        </form>
    </div>
</div>